services:
  postgres:
    image: postgres:15
    container_name: postgres
    environment:
      POSTGRES_USER: andrei
      POSTGRES_PASSWORD: andrei

    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init-db.sql:/docker-entrypoint-initdb.d/init-db.sql
    networks:
      - iot-network

  kafdrop:
    image: obsidiandynamics/kafdrop
    ports:
      - "9000:9000"
    environment:
      KAFKA_BROKERCONNECT: kafka:9092
    depends_on:
      - kafka
    networks:
      - iot-network


  kafka:
    image: confluentinc/cp-kafka:7.5.0
    container_name: kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    networks:
      - iot-network

  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"
    command: [ "redis-server", "--appendonly", "yes" ]
    volumes:
      - redis_data:/data
    networks:
      - iot-network


  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
    ports:
      - "2181:2181"
    networks:
      - iot-network

  user-service:
    image: vornicuandrei/user-service:latest
    container_name: user-service
    ports:
      - "8080:8080"
    environment:
      SPRING_REDIS_HOST: redis
      SPRING_REDIS_PORT: 6379
      SPRING_PROFILES_ACTIVE: docker
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/iot_users
      SPRING_DATASOURCE_USERNAME: andrei
      SPRING_DATASOURCE_PASSWORD: andrei
      SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:9092
    depends_on:
      - postgres
      - kafka
      - redis
    networks:
      - iot-network

  device-service:
    image: vornicuandrei/device-service:latest
    container_name: device-service
    ports:
      - "8081:8081"
    environment:
      SPRING_REDIS_HOST: redis
      SPRING_REDIS_PORT: 6379
      SPRING_PROFILES_ACTIVE: docker
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/iot_devices
      SPRING_DATASOURCE_USERNAME: andrei
      SPRING_DATASOURCE_PASSWORD: andrei
      SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:9092
    depends_on:
      - postgres
      - kafka
      - redis
      - user-service
    networks:
      - iot-network

  measurement-service:
    image: vornicuandrei/measurement-service:latest
    ports:
      - "8082:8082"
    environment:
      SPRING_PROFILES_ACTIVE: docker
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/iot_measurements
      SPRING_DATASOURCE_USERNAME: andrei
      SPRING_DATASOURCE_PASSWORD: andrei
      SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:9092
      SPRING_REDIS_HOST: redis
      SPRING_REDIS_PORT: 6379
    depends_on:
      - postgres
      - kafka
      - redis
    networks:
      - iot-network

  notification-service:
    image: vornicuandrei/notification-service:latest
    container_name: notification-service
    restart: unless-stopped
    ports:
      - "8083:8083"
    environment:
      - SPRING_PROFILES_ACTIVE=docker
      - SPRING_KAFKA_BOOTSTRAP_SERVERS=kafka:9092
      - SPRING_REDIS_HOST=redis
      - SPRING_REDIS_PORT=6379
      - SPRING_MAIL_USERNAME=${NOTIF_MAIL_USERNAME}
      - SPRING_MAIL_PASSWORD=${NOTIF_MAIL_PASSWORD}
      - NOTIFICATION_FROM=${NOTIF_FROM}
      - SPRING_LOGGING_LEVEL_ROOT=INFO
    depends_on:
      - kafka
      - redis
    networks:
      - iot-network

volumes:
  postgres_data:
  redis_data:

networks:
  iot-network:
    driver: bridge